@import "tailwindcss";

:root {
    --background: #090e11;
    --foreground: #ffffff;
}

@theme {
    --color-green: #8cd813;
    --color-tertiary: #d9d9d940;
    --color-borderdefault: #444444;
    --breakpoint-2xl: 80rem;
    --color-textGray: #1e1e1e;
}

body {
    background: var(--background);
    color: var(--foreground);
}

main {
    padding: 0;
}